{
  "openapi": "3.0.3",
  "info": {
    "title": "GitGuardian API",
    "version": "1.1.0",
    "termsOfService": "https://www.gitguardian.com/legal-terms",
    "license": {
      "name": "GitGuardian",
      "url": "https://www.gitguardian.com/legal-terms"
    },
    "x-logo": {
      "url": "https://static.gitguardian.com/gitguardian-logotype-vertical-white-background.png",
      "altText": "GitGuardian"
    },
    "contact": {
      "name": "GitGuardian",
      "email": "support@gitguardian.com",
      "url": "https://www.gitguardian.com"
    },
    "description": "# Introduction\n\nWhether you want to build a complete integration with your software development\nworkflow or simply want to test GitGuardian's policy break detection on any text content,\nyou can use our API.\n\n- The base url for the latest version is `https://api.gitguardian.com/v1` or `https://api.eu1.gitguardian.com/v1` depending on your location.\n- All data is sent and received as JSON by default.\n- All timestamps returned are ISO-8601 compliant, example:\n```python\n2020-03-16T04:46:00+00:00 # for date-time\n```\n\nGitGuardian supported wrappers:\n- Python: [**py-gitguardian**](https://github.com/GitGuardian/py-gitguardian)\n\nGitGuardian provides you with [**GitGuardian Shield**](https://github.com/GitGuardian/gg-shield),\na CLI application that uses the GitGuardian API through py-gitguardian\nto scan your files and detect potential secrets or issues in your code.\n\nThis CLI application can be used in many CIs (such as GitHub Actions, GitLab Pipelines, CircleCI,...)\nor as a pre-commit or pre-receive hook.\n\n# Authentication\n\nThe GitGuardian API uses API keys to authenticate requests.\nFor a detailed explanation, please refer to our dedicated [documentation](https://docs.gitguardian.com/api-docs/authentication).\n\nUse [/v1/health](#operation/api_health) to check the validity of your token if needed.\n\n# Pagination\n\nThe GitGuardian API employs cursor-based pagination.\nFor a detailed explanation, please refer to our dedicated [documentation](https://docs.gitguardian.com/api-docs/pagination).\n"
  },
  "servers": [
    {
      "url": "https://api.gitguardian.com",
      "description": "GitGuardian US (default)"
    },
    {
      "url": "https://api.eu1.gitguardian.com",
      "description": "GitGuardian Europe"
    }
  ],
  "security": [
    {
      "api-key": []
    }
  ],
  "tags": [
    {
      "name": "API Tokens",
      "description": "Manage API tokens.\n"
    },
    {
      "name": "Secret Incidents",
      "description": "Manage incidents found by post-receive hooks on your GitGuardian Dashboard.\n"
    },
    {
      "name": "Secret Occurrences",
      "description": "Manage occurrences found by post-receive hooks on your GitGuardian Dashboard.\n"
    },
    {
      "name": "Secret Incident Notes",
      "description": "Manage notes on incidents found by post-receive hooks on your GitGuardian Dashboard.\n"
    },
    {
      "name": "Secret Detectors",
      "description": "Retrieve details on detectors used for secret detection.\n"
    },
    {
      "name": "Severity Rules",
      "description": "List the severity rules that determine how incident severity is automatically assigned.\n"
    },
    {
      "name": "Secrets",
      "description": "Access information about individual secrets detected by GitGuardian.\n"
    },
    {
      "name": "Code Fixing",
      "description": "Create automated code fix requests to remediate detected secrets via pull requests.\n"
    },
    {
      "name": "Invitations",
      "description": "Manage workspace invitations.\n"
    },
    {
      "name": "Sources",
      "description": "Retrieve details on sources known by GitGuardian.\n"
    },
    {
      "name": "Members",
      "description": "Retrieve details about workspace members.\n"
    },
    {
      "name": "Scan Methods",
      "description": "Use GitGuardian's brain at your leisure.\n\nScanning API allows you to scan any content you want using GitGuardian's secrets detection algorithms.\n"
    },
    {
      "name": "Quota",
      "description": "Retrieve details about quota usage.\n"
    },
    {
      "name": "Audit logs",
      "description": "List of audit logs of the workspace.\n"
    },
    {
      "name": "Status",
      "description": "Check the status of the API and the overall system health.\n"
    },
    {
      "name": "Teams",
      "description": "Manage teams.\n"
    },
    {
      "name": "Team Invitations",
      "description": "Manage team invitations.\n"
    },
    {
      "name": "Team Memberships",
      "description": "Add or remove members from teams, or update their permissions.\n"
    },
    {
      "name": "Health Checks",
      "description": "Monitor the health of integration instances.\n"
    },
    {
      "name": "Honeytokens",
      "description": "Manage honeytokens.\n"
    },
    {
      "name": "Honeytoken Notes",
      "description": "Manage notes on honeytokens.\n"
    },
    {
      "name": "Honeytokens Events",
      "description": "Manage events on honeytokens.\n"
    },
    {
      "name": "Honeytoken Sources",
      "description": "Manage sources on honeytokens.\n"
    },
    {
      "name": "IP Allowlist",
      "x-saas-only": true,
      "description": "Manage the IP allowlist for workspace access. Only available on SaaS.\n"
    },
    {
      "name": "IPs",
      "x-saas-only": true,
      "description": "Get GitGuardian's IP addresses for IP allowlisting.\n\nUse this endpoint to retrieve GitGuardian's egress IP addresses in CIDR notation. Allowlist these IPs in your firewalls, network security groups, or other access control systems to enable GitGuardian services to access your resources.\n"
    },
    {
      "name": "SCIM Users",
      "description": "System for Cross-domain Identity Management (SCIM) is a standard for automating the exchange of user identity information between identity domains, or IT systems.\n"
    },
    {
      "name": "SCIM Groups",
      "description": "System for Cross-domain Identity Management (SCIM) is a standard for automating the exchange of group identity information between identity domains, or IT systems.\n"
    },
    {
      "name": "SCIM Metadata",
      "description": "System for Cross-domain Identity Management (SCIM) is a standard for automating the exchange of user identity information between identity domains, or IT systems.\n"
    },
    {
      "name": "Custom Tags",
      "description": "Manage custom tags. Linking a custom tag to resources occurs at the resource endpoints themselves. For example, you can apply a custom tag to an incident [here](#tag/Secret-Incidents/operation/update-secret-incident) or to a honeytoken [here](#tag/Honeytokens/operation/update-honeytoken).\n"
    },
    {
      "name": "Developer",
      "description": "Retrieve developers from the public perimeter.\n"
    },
    {
      "name": "OAuth2",
      "description": "OAuth 2.0 / OpenID Connect endpoints used to integrate\nthird-party clients (such as MCP clients) with GitGuardian.\n\nThe supported flow is **Authorization Code + PKCE**\n([RFC 7636](https://www.rfc-editor.org/rfc/rfc7636)). The\nauthorization endpoint itself is served by the GitGuardian\ndashboard; this group documents the API-side endpoints:\n\n- **[Token endpoint](#operation/public-oauth-token)** —\n  exchanges an authorization code for a personal access token\n  ([RFC 6749](https://www.rfc-editor.org/rfc/rfc6749)).\n- **[Dynamic Client Registration](#operation/public-oauth-register)** —\n  lets clients register themselves\n  ([RFC 7591](https://www.rfc-editor.org/rfc/rfc7591)).\n- **[Authorization Server Metadata](#operation/public-oauth-authorization-server-metadata)** —\n  discovery document\n  ([RFC 8414](https://www.rfc-editor.org/rfc/rfc8414)).\n- **[OpenID Connect Discovery](#operation/public-oidc-well-known-configuration)** —\n  OIDC discovery document.\n- **[JWKS](#operation/public-jwks)** — public keys used to\n  validate issued JWTs\n  ([RFC 7517](https://www.rfc-editor.org/rfc/rfc7517)).\n"
    }
  ],
  "paths": {
    "/v1/api_tokens/self": {
      "get": {
        "tags": [
          "API Tokens"
        ],
        "operationId": "self-retrieve-api-token",
        "summary": "Retrieve details of the current API token.",
        "responses": {
          "200": {
            "description": "Current token details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "API Token Details",
                  "description": "Details of an API Token",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id of API token",
                      "example": "5ddaad0c-5a0c-4674-beb5-1cd198d13360"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of API token",
                      "example": "myTokenName"
                    },
                    "workspace_id": {
                      "type": "integer",
                      "description": "Workspace id",
                      "example": 42
                    },
                    "type": {
                      "allOf": [
                        {
                          "enum": [
                            "personal_access_token",
                            "service_account"
                          ],
                          "type": "string"
                        }
                      ],
                      "example": "personal_access_token"
                    },
                    "status": {
                      "allOf": [
                        {
                          "enum": [
                            "active",
                            "expired",
                            "revoked"
                          ],
                          "type": "string"
                        }
                      ],
                      "example": "revoked"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Creation date of the API token",
                      "example": "2023-05-20T12:40:55.662949Z"
                    },
                    "last_used_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Last usage of the API token",
                      "example": "2023-05-24T12:40:55.662949Z"
                    },
                    "expire_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Expiration date of the API token",
                      "example": null
                    },
                    "revoked_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Revocation date of the API token",
                      "example": "2023-05-27T12:40:55.662949Z"
                    },
                    "member_id": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Member id",
                      "example": 22015
                    },
                    "creator_id": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Creator id",
                      "example": 22015
                    },
                    "scopes": {
                      "type": "array",
                      "description": "List of scopes",
                      "minItems": 0,
                      "items": {
                        "enum": [
                          "scan",
                          "incidents:read",
                          "incidents:write",
                          "incidents:share",
                          "members:read",
                          "members:write",
                          "teams:read",
                          "teams:write",
                          "audit_logs:read",
                          "honeytokens:read",
                          "honeytokens:write",
                          "honeytokens:check",
                          "api_tokens:read",
                          "api_tokens:write",
                          "ip_allowlist:read",
                          "ip_allowlist:write",
                          "sources:read",
                          "sources:write",
                          "nhi:send-inventory",
                          "nhi:write-vault",
                          "endpoints:send",
                          "ai-discover:send"
                        ],
                        "type": "string"
                      },
                      "example": [
                        "incidents:read",
                        "scan"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Error",
                  "description": "Error obtained in an API response",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "Details on response."
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Invalid APIKey",
                    "value": {
                      "detail": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "API Tokens"
        ],
        "operationId": "self-delete-api-token",
        "summary": "Revoke the current API token.",
        "responses": {
          "204": {
            "description": "Token revocation confirmation"
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Error",
                  "description": "Error obtained in an API response",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "Details on response."
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Invalid APIKey",
                    "value": {
                      "detail": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/api_tokens": {
      "get": {
        "tags": [
          "API Tokens"
        ],
        "operationId": "list-api-tokens",
        "summary": "List API tokens.",
        "description": "List all the tokens in the workspace, some filters are available and described\nbelow.\n",
        "security": [
          {
            "api-key": [
              "api_tokens:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items to list per page.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "enum": [
                    "active",
                    "expired",
                    "revoked"
                  ],
                  "type": "string"
                }
              ],
              "description": "Status of the token."
            }
          },
          {
            "name": "member_id",
            "in": "query",
            "description": "Filter by member id.",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "creator_id",
            "in": "query",
            "description": "Filter by creator id.",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "scopes",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Tokens with one of the following scopes.",
              "example": "incidents:read,api_tokens:read",
              "allOf": [
                {
                  "enum": [
                    "scan",
                    "incidents:read",
                    "incidents:write",
                    "incidents:share",
                    "members:read",
                    "members:write",
                    "teams:read",
                    "teams:write",
                    "audit_logs:read",
                    "honeytokens:read",
                    "honeytokens:write",
                    "honeytokens:check",
                    "api_tokens:read",
                    "api_tokens:write",
                    "ip_allowlist:read",
                    "ip_allowlist:write",
                    "sources:read",
                    "sources:write",
                    "nhi:send-inventory",
                    "nhi:write-vault",
                    "endpoints:send",
                    "ai-discover:send"
                  ],
                  "type": "string"
                }
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Search tokens based on their name."
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Sort the results by their field value. The default sort is ASC, DESC if the\nfield is preceded by a '-'.\n",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "-created_at",
                "last_used_at",
                "-last_used_at",
                "expire_at",
                "-expire_at",
                "revoked_at",
                "-revoked_at"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API tokens list",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string",
                  "description": "Links toward the previous and next pages if they exist"
                }
              },
              "X-Per-Page": {
                "schema": {
                  "type": "integer",
                  "description": "The number of items per page.",
                  "default": 20,
                  "minimum": 1,
                  "maximum": 100
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "title": "API Token Details",
                    "description": "Details of an API Token",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Id of API token",
                        "example": "5ddaad0c-5a0c-4674-beb5-1cd198d13360"
                      },
                      "name": {
                        "type": "string",
                        "description": "Name of API token",
                        "example": "myTokenName"
                      },
                      "workspace_id": {
                        "type": "integer",
                        "description": "Workspace id",
                        "example": 42
                      },
                      "type": {
                        "allOf": [
                          {
                            "enum": [
                              "personal_access_token",
                              "service_account"
                            ],
                            "type": "string"
                          }
                        ],
                        "example": "personal_access_token"
                      },
                      "status": {
                        "allOf": [
                          {
                            "enum": [
                              "active",
                              "expired",
                              "revoked"
                            ],
                            "type": "string"
                          }
                        ],
                        "example": "revoked"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Creation date of the API token",
                        "example": "2023-05-20T12:40:55.662949Z"
                      },
                      "last_used_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "description": "Last usage of the API token",
                        "example": "2023-05-24T12:40:55.662949Z"
                      },
                      "expire_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "description": "Expiration date of the API token",
                        "example": null
                      },
                      "revoked_at": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true,
                        "description": "Revocation date of the API token",
                        "example": "2023-05-27T12:40:55.662949Z"
                      },
                      "member_id": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Member id",
                        "example": 22015
                      },
                      "creator_id": {
                        "type": "integer",
                        "nullable": true,
                        "description": "Creator id",
                        "example": 22015
                      },
                      "scopes": {
                        "type": "array",
                        "description": "List of scopes",
                        "minItems": 0,
                        "items": {
                          "enum": [
                            "scan",
                            "incidents:read",
                            "incidents:write",
                            "incidents:share",
                            "members:read",
                            "members:write",
                            "teams:read",
                            "teams:write",
                            "audit_logs:read",
                            "honeytokens:read",
                            "honeytokens:write",
                            "honeytokens:check",
                            "api_tokens:read",
                            "api_tokens:write",
                            "ip_allowlist:read",
                            "ip_allowlist:write",
                            "sources:read",
                            "sources:write",
                            "nhi:send-inventory",
                            "nhi:write-vault",
                            "endpoints:send",
                            "ai-discover:send"
                          ],
                          "type": "string"
                        },
                        "example": [
                          "incidents:read",
                          "scan"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Error",
                  "description": "Error obtained in an API response",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "Details on response."
                    },
                    "extra": {
                      "type": "object",
                      "description": "Optional context on the error."
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Invalid data",
                    "value": {
                      "detail": "Invalid data.",
                      "extra": {
                        "field_1": [
                          "error_message_1",
                          "error_message_2"
                        ],
                        "field_2": [
                          "error_message_3",
                          "error_message_4"
                        ],
                        "non_field_errors": [
                          "error_message_5",
                          "error_message_6"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Error",
                  "description": "Error obtained in an API response",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "Details on response."
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Invalid APIKey",
                    "value": {
                      "detail": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/api_tokens/{token_id}": {
      "get": {
        "tags": [
          "API Tokens"
        ],
        "operationId": "retrieve-api-token",
        "summary": "Retrieve details of an API token.",
        "security": [
          {
            "api-key": [
              "api_tokens:read"
            ]
          }
        ],
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "description": "Id of the token.",
            "schema": {
              "type": "string",
              "example": "5ddaad0c-5a0c-4674-beb5-1cd198d13360"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current token details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "API Token Details",
                  "description": "Details of an API Token",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Id of API token",
                      "example": "5ddaad0c-5a0c-4674-beb5-1cd198d13360"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name of API token",
                      "example": "myTokenName"
                    },
                    "workspace_id": {
                      "type": "integer",
                      "description": "Workspace id",
                      "example": 42
                    },
                    "type": {
                      "allOf": [
                        {
                          "enum": [
                            "personal_access_token",
                            "service_account"
                          ],
                          "type": "string"
                        }
                      ],
                      "example": "personal_access_token"
                    },
                    "status": {
                      "allOf": [
                        {
                          "enum": [
                            "active",
                            "expired",
                            "revoked"
                          ],
                          "type": "string"
                        }
                      ],
                      "example": "revoked"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Creation date of the API token",
                      "example": "2023-05-20T12:40:55.662949Z"
                    },
                    "last_used_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Last usage of the API token",
                      "example": "2023-05-24T12:40:55.662949Z"
                    },
                    "expire_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Expiration date of the API token",
                      "example": null
                    },
                    "revoked_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Revocation date of the API token",
                      "example": "2023-05-27T12:40:55.662949Z"
                    },
                    "member_id": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Member id",
                      "example": 22015
                    },
                    "creator_id": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Creator id",
                      "example": 22015
                    },
                    "scopes": {
                      "type": "array",
                      "description": "List of scopes",
                      "minItems": 0,
                      "items": {
                        "enum": [
                          "scan",
                          "incidents:read",
                          "incidents:write",
                          "incidents:share",
                          "members:read",
                          "members:write",
                          "teams:read",
                          "teams:write",
                          "audit_logs:read",
                          "honeytokens:read",
                          "honeytokens:write",
                          "honeytokens:check",
                          "api_tokens:read",
                          "api_tokens:write",
                          "ip_allowlist:read",
                          "ip_allowlist:write",
                          "sources:read",
                          "sources:write",
                          "nhi:send-inventory",
                          "nhi:write-vault",
                          "endpoints:send",
                          "ai-discover:send"
                        ],
                        "type": "string"
                      },
                      "example": [
                        "incidents:read",
                        "scan"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Error",
                  "description": "Error obtained in an API response",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "Details on response."
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Invalid APIKey",
                    "value": {
                      "detail": "Invalid API key."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "API token not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Error",
                  "description": "Error obtained in an API response",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "Details on response."
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "API Tokens"
        ],
        "operationId": "delete-api-token",
        "summary": "Revoke an API token.",
        "security": [
          {
            "api-key": [
              "api_tokens:write"
            ]
          }
        ],
        "parameters": [
          {
            "name": "token_id",
            "in": "path",
            "required": true,
            "description": "Id of the token.",
            "schema": {
              "type": "string",
              "example": "5ddaad0c-5a0c-4674-beb5-1cd198d13360"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Token revocation confirmation"
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Error",
                  "description": "Error obtained in an API response",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "Details on response."
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Invalid APIKey",
                    "value": {
                      "detail": "Invalid API key."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "API token not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Error",
                  "description": "Error obtained in an API response",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "Details on response."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/jwt": {
      "post": {
        "tags": [
          "API Tokens"
        ],
        "operationId": "public-jwt-create",
        "summary": "Create a JSON Web Token.",
        "description": "Create a short lived JWT for authentication to specific GitGuardian services,\nincluding HasMySecretLeaked.\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "audience"
                ],
                "properties": {
                  "audience": {
                    "type": "string",
                    "description": "Audience of the JWT.",
                    "example": "https://api.hasmysecretleaked.com"
                  },
                  "audience_type": {
                    "type": "string",
                    "description": "Type of audience.",
                    "example": "hmsl"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created JWT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": {
                      "type": "string",
                      "description": "JWT",
                      "example": "eyJhbGciOiJS[...]"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Error",
                  "description": "Error obtained in an API response",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "Details on response."
                    },
                    "extra": {
                      "type": "object",
                      "description": "Optional context on the error."
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Invalid data",
                    "value": {
                      "detail": "Invalid data.",
                      "extra": {
                        "field_1": [
                          "error_message_1",
                          "error_message_2"
                        ],
                        "field_2": [
                          "error_message_3",
                          "error_message_4"
                        ],
                        "non_field_errors": [
                          "error_message_5",
                          "error_message_6"
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Error",
                  "description": "Error obtained in an API response",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "Details on response."
                    }
                  }
                },
                "examples": {
                  "error": {
                    "summary": "Invalid APIKey",
                    "value": {
                      "detail": "Invalid API key."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/oauth/token": {
      "post": {
        "tags": [
          "OAuth2"
        ],
        "operationId": "public-oauth-token",
        "summary": "Exchange an authorization code for an access token.",
        "description": "Token endpoint as defined by [RFC 6749 §4.1.3](https://www.rfc-editor.org/rfc/rfc6749#section-4.1.3).\n\nExchange an authorization code (obtained from the\nauthorization endpoint) for a GitGuardian Personal Access Token\n(PAT). The request and response follow the OAuth 2.0 spec.\n\nThis endpoint does not require authentication: the client\nauthenticates itself by submitting the `client_id` (and\n`client_secret` for confidential clients) in the request body.\n",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "code",
                  "redirect_uri",
                  "client_id",
                  "code_verifier"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "enum": [
                      "authorization_code"
                    ],
                    "description": "Must be `authorization_code`.",
                    "example": "authorization_code"
                  },
                  "code": {
                    "type": "string",
                    "description": "The authorization code received from the authorization endpoint.",
                    "example": "4/0Adeu5BWqv9oS..."
                  },
                  "redirect_uri": {
                    "type": "string",
                    "format": "uri",
                    "description": "Must match the `redirect_uri` used when requesting the\nauthorization code.\n",
                    "example": "https://app.example.com/callback"
                  },
                  "client_id": {
                    "type": "string",
                    "description": "The OAuth client identifier.",
                    "example": "gg_client_AbCdEf123456"
                  },
                  "client_secret": {
                    "type": "string",
                    "description": "The OAuth client secret. Required only for\nconfidential clients (those registered with\n`token_endpoint_auth_method=client_secret_post`).\n",
                    "example": "gg_secret_AbCdEf123456"
                  },
                  "code_verifier": {
                    "type": "string",
                    "description": "PKCE code verifier ([RFC 7636](https://www.rfc-editor.org/rfc/rfc7636))\nwhose hash matches the `code_challenge` sent to the\nauthorization endpoint.\n",
                    "example": "dBjftJeZ4CVP-mB92K27uhbUJU1p1r_wW1gFWFOEjXk"
                  },
                  "name": {
                    "type": "string",
                    "description": "Optional name for the resulting personal access token.",
                    "example": "My MCP client"
                  },
                  "lifetime": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Optional lifetime of the resulting personal access token,\nin days. `0` means it never expires.\n",
                    "example": 30
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token successfully issued.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "description": "CORS header (`*`) so browser-based clients (e.g. MCP) can read the response."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "access_token",
                    "token_type",
                    "type",
                    "name",
                    "account_id",
                    "scope",
                    "key",
                    "expire_at_downsized"
                  ],
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "The issued personal access token. Use it in the\n`Authorization: Token <access_token>` header for\nsubsequent calls to the GitGuardian API.\n",
                      "example": "gg_pat_AbCdEf123456..."
                    },
                    "token_type": {
                      "type": "string",
                      "enum": [
                        "Bearer"
                      ],
                      "example": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "nullable": true,
                      "description": "Seconds until the access token expires. `null` if\nthe token never expires.\n",
                      "example": 2592000
                    },
                    "type": {
                      "type": "string",
                      "description": "GitGuardian token type.",
                      "example": "personal_access_token"
                    },
                    "name": {
                      "type": "string",
                      "description": "Token name.",
                      "example": "My MCP client"
                    },
                    "account_id": {
                      "type": "integer",
                      "description": "ID of the GitGuardian workspace the token belongs to.",
                      "example": 1234
                    },
                    "expire_at": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true,
                      "description": "Expiration date of the token (`null` if it never expires).",
                      "example": "2026-06-20T04:46:00+00:00"
                    },
                    "scope": {
                      "type": "array",
                      "description": "Scopes granted to the token.",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "scan",
                        "incidents:read"
                      ]
                    },
                    "key": {
                      "type": "string",
                      "description": "Raw token value (legacy alias of `access_token`,\nkept for backwards compatibility).\n"
                    },
                    "expire_at_downsized": {
                      "type": "boolean",
                      "description": "`true` if the requested lifetime was capped by a\nworkspace policy and the token expires earlier than\nrequested.\n",
                      "example": false
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "OAuth 2.0 error response ([RFC 6749 §5.2](https://www.rfc-editor.org/rfc/rfc6749#section-5.2)).\nReturned for example when the authorization code is invalid,\nexpired, the PKCE verifier does not match, or the request is\notherwise malformed.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Machine-readable error code.",
                      "example": "invalid_grant"
                    },
                    "error_description": {
                      "type": "string",
                      "description": "Human-readable error description.",
                      "example": "The provided authorization code is invalid or has expired."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "OAuth 2.0 error response when client authentication fails\n(unknown `client_id` or invalid `client_secret`).\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid_client"
                    },
                    "error_description": {
                      "type": "string",
                      "example": "Client authentication failed."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/oauth/register": {
      "post": {
        "tags": [
          "OAuth2"
        ],
        "operationId": "public-oauth-register",
        "summary": "Dynamically register an OAuth 2.0 client.",
        "description": "Dynamic Client Registration endpoint as defined by\n[RFC 7591](https://www.rfc-editor.org/rfc/rfc7591).\n\nAllows OAuth clients (notably MCP clients) to register\nthemselves without out-of-band coordination. The endpoint is\nunauthenticated; the workspace administrator can disable it\nthrough workspace preferences, in which case the endpoint\nreturns `404`.\n\nOnly the `authorization_code` grant type and the `code`\nresponse type are supported. Both public clients\n(`token_endpoint_auth_method=none`) and confidential clients\n(`token_endpoint_auth_method=client_secret_post`) are allowed.\n",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "redirect_uris"
                ],
                "properties": {
                  "client_name": {
                    "type": "string",
                    "maxLength": 255,
                    "nullable": true,
                    "description": "Human-readable client name displayed on the consent screen.",
                    "example": "My MCP client"
                  },
                  "redirect_uris": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 16,
                    "description": "Allowed redirect URIs. At least one is required;\neach must be 2048 characters or fewer.\n",
                    "items": {
                      "type": "string",
                      "format": "uri",
                      "maxLength": 2048
                    },
                    "example": [
                      "https://app.example.com/oauth/callback"
                    ]
                  },
                  "token_endpoint_auth_method": {
                    "type": "string",
                    "enum": [
                      "none",
                      "client_secret_post"
                    ],
                    "default": "none",
                    "description": "Authentication method the client uses at the token\nendpoint. `none` is for public (PKCE-only) clients;\n`client_secret_post` is for confidential clients that\nsend their secret in the token request body.\n"
                  },
                  "grant_types": {
                    "type": "array",
                    "nullable": true,
                    "description": "Grant types the client may use. Only\n`authorization_code` is supported; omit to use the\ndefault.\n",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "authorization_code"
                    ]
                  },
                  "response_types": {
                    "type": "array",
                    "nullable": true,
                    "description": "Response types the client may use at the authorization\nendpoint. Only `code` is supported; omit to use the\ndefault.\n",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "code"
                    ]
                  },
                  "scope": {
                    "type": "string",
                    "maxLength": 2048,
                    "nullable": true,
                    "description": "Space-separated list of scopes the client may\nrequest. Defaults to all scopes the workspace allows\nif omitted.\n",
                    "example": "scan incidents:read"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Client successfully registered.\n([RFC 7591 §3.2.1](https://www.rfc-editor.org/rfc/rfc7591#section-3.2.1))\n",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "description": "CORS header (`*`) so browser-based clients can read the response."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "client_id",
                    "redirect_uris",
                    "grant_types",
                    "response_types",
                    "token_endpoint_auth_method",
                    "scope",
                    "client_id_issued_at",
                    "client_secret_expires_at"
                  ],
                  "properties": {
                    "client_id": {
                      "type": "string",
                      "description": "Generated client identifier.",
                      "example": "gg_client_AbCdEf123456"
                    },
                    "client_name": {
                      "type": "string",
                      "nullable": true,
                      "example": "My MCP client"
                    },
                    "redirect_uris": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "uri"
                      },
                      "example": [
                        "https://app.example.com/oauth/callback"
                      ]
                    },
                    "grant_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "authorization_code"
                      ]
                    },
                    "response_types": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "code"
                      ]
                    },
                    "token_endpoint_auth_method": {
                      "type": "string",
                      "example": "none"
                    },
                    "scope": {
                      "type": "string",
                      "description": "Space-separated list of scopes granted to the client.",
                      "example": "scan incidents:read"
                    },
                    "client_id_issued_at": {
                      "type": "integer",
                      "description": "Unix timestamp at which the client_id was issued.\n",
                      "example": 1716230400
                    },
                    "client_secret": {
                      "type": "string",
                      "description": "Generated client secret. Present only for\nconfidential clients\n(`token_endpoint_auth_method=client_secret_post`).\nThe plaintext value is returned exactly once; store\nit securely.\n",
                      "example": "gg_secret_AbCdEf123456"
                    },
                    "client_secret_expires_at": {
                      "type": "integer",
                      "description": "Unix timestamp at which the client_secret expires.\n`0` means the secret does not expire.\n",
                      "example": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid client metadata.\n([RFC 7591 §3.2.2](https://www.rfc-editor.org/rfc/rfc7591#section-3.2.2))\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "invalid_client_metadata"
                    },
                    "error_description": {
                      "type": "string",
                      "example": "redirect_uris must contain at least one URI"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Dynamic Client Registration is disabled for this workspace.\n"
          },
          "429": {
            "description": "Rate limit exceeded. The registration endpoint is throttled\nto prevent abuse.\n"
          }
        }
      }
    },
    "/v1/auth/jwks": {
      "get": {
        "tags": [
          "OAuth2"
        ],
        "operationId": "public-jwks",
        "summary": "List public keys used to sign JWTs.",
        "description": "JSON Web Key Set ([RFC 7517](https://www.rfc-editor.org/rfc/rfc7517))\nendpoint. Returns the public keys that should be used to validate\nthe signature of JWTs issued by this GitGuardian instance, including\nOIDC `id_token`s.\n\nThis endpoint is unauthenticated and aggressively cached.\n",
        "security": [],
        "responses": {
          "200": {
            "description": "JSON Web Key Set.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "keys"
                  ],
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "kid",
                          "n",
                          "e",
                          "kty",
                          "alg",
                          "use"
                        ],
                        "properties": {
                          "kid": {
                            "type": "string",
                            "description": "Key identifier.",
                            "example": "5d2f4e64-7b1d-4c1d-bb2a-1234567890ab"
                          },
                          "n": {
                            "type": "string",
                            "description": "RSA modulus, base64url-encoded."
                          },
                          "e": {
                            "type": "string",
                            "description": "RSA exponent, base64url-encoded.",
                            "example": "AQAB"
                          },
                          "kty": {
                            "type": "string",
                            "enum": [
                              "RSA"
                            ],
                            "example": "RSA"
                          },
                          "alg": {
                            "type": "string",
                            "enum": [
                              "RS256"
                            ],
                            "example": "RS256"
                          },
                          "use": {
                            "type": "string",
                            "enum": [
                              "sig"
                            ],
                            "example": "sig"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "No signing keys are configured on this instance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "No keys are configured"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/openid-configuration": {
      "get": {
        "tags": [
          "OAuth2"
        ],
        "operationId": "public-oidc-well-known-configuration",
        "summary": "OpenID Connect discovery document.",
        "description": "OpenID Connect discovery document\n([OpenID Connect Discovery 1.0](https://openid.net/specs/openid-connect-discovery-1_0.html)).\nReturns the URLs and capabilities clients need to validate\nOpenID Connect `id_token`s issued by this GitGuardian instance.\n\nThe companion JSON Web Key Set is available at\n[`/v1/auth/jwks`](#operation/public-jwks).\n",
        "security": [],
        "responses": {
          "200": {
            "description": "OIDC discovery document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "issuer",
                    "jwks_uri",
                    "subject_types_supported",
                    "response_types_supported",
                    "claims_supported",
                    "id_token_signing_alg_values_supported",
                    "scopes_supported"
                  ],
                  "properties": {
                    "issuer": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL identifying this OIDC issuer. Matches the\n`iss` claim of issued JWTs.\n",
                      "example": "https://api.gitguardian.com"
                    },
                    "jwks_uri": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the JSON Web Key Set.",
                      "example": "https://api.gitguardian.com/v1/auth/jwks"
                    },
                    "subject_types_supported": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "public"
                      ]
                    },
                    "response_types_supported": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "id_token"
                      ]
                    },
                    "claims_supported": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "sub",
                        "aud",
                        "iss",
                        "exp",
                        "iat"
                      ]
                    },
                    "id_token_signing_alg_values_supported": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "RS256"
                      ]
                    },
                    "scopes_supported": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "openid"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/oauth-authorization-server": {
      "get": {
        "tags": [
          "OAuth2"
        ],
        "operationId": "public-oauth-authorization-server-metadata",
        "summary": "OAuth 2.0 Authorization Server Metadata.",
        "description": "OAuth 2.0 Authorization Server Metadata as defined by\n[RFC 8414](https://www.rfc-editor.org/rfc/rfc8414).\n\nUsed by OAuth 2.0 clients (notably MCP clients performing the\nAuthorization Code + PKCE flow) to discover the URLs of the\nauthorization, token, and dynamic client registration endpoints\nwithout out-of-band configuration. The endpoint is unauthenticated\nand exposes CORS so it can be fetched from browsers.\n\nThe `registration_endpoint` is only advertised when Dynamic Client\nRegistration ([RFC 7591](https://www.rfc-editor.org/rfc/rfc7591))\nis enabled on this workspace.\n",
        "security": [],
        "responses": {
          "200": {
            "description": "Authorization server metadata document.",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string"
                },
                "description": "CORS header (`*`)."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "issuer",
                    "authorization_endpoint",
                    "token_endpoint",
                    "code_challenge_methods_supported",
                    "grant_types_supported",
                    "response_types_supported",
                    "scopes_supported",
                    "token_endpoint_auth_methods_supported"
                  ],
                  "properties": {
                    "issuer": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL identifying this authorization server.",
                      "example": "https://api.gitguardian.com"
                    },
                    "authorization_endpoint": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the GitGuardian authorization endpoint\n(served by the GitGuardian dashboard, not the API).\n",
                      "example": "https://dashboard.gitguardian.com/auth/login"
                    },
                    "token_endpoint": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the [token endpoint](#operation/public-oauth-token).",
                      "example": "https://api.gitguardian.com/v1/oauth/token"
                    },
                    "registration_endpoint": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL of the [Dynamic Client Registration\nendpoint](#operation/public-oauth-register).\nOnly present when DCR is enabled.\n",
                      "example": "https://api.gitguardian.com/v1/oauth/register"
                    },
                    "code_challenge_methods_supported": {
                      "type": "array",
                      "description": "PKCE code challenge methods supported.",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "S256"
                      ]
                    },
                    "grant_types_supported": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "authorization_code"
                      ]
                    },
                    "response_types_supported": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "code"
                      ]
                    },
                    "scopes_supported": {
                      "type": "array",
                      "description": "Scopes that may be requested by clients.\n",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "scan",
                        "incidents:read",
                        "incidents:write"
                      ]
                    },
                    "token_endpoint_auth_methods_supported": {
                      "type": "array",
                      "description": "Client authentication methods supported at the\ntoken endpoint.\n",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "none",
                        "client_secret_post"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/incidents/secrets": {
      "get": {
        "tags": [
          "Internal Secret Incidents"
        ],
        "operationId": "list-incidents",
        "summary": "List secret incidents",
        "description": "List secret incidents detected by the GitGuardian dashboard.\nOccurrences are not returned in this route.\n",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor.",
            "schema": {
              "type": "string"
            }
          },
          {
            "deprecated": true,
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of items to list per page.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "in": "query",
            "name": "date_before",
            "schema": {
              "type": "string",
              "format": "datetime",
              "description": "Entries found before this date.",
              "example": "2019-08-30T14:15:22Z"
            }
          },
          {
            "in": "query",
            "name": "date_after",
            "schema": {
              "type": "string",
              "format": "datetime",
              "description": "Entries found after this date.",
              "example": "2019-08-22T14:15:22Z"
            }
          },
          {
            "in": "query",
            "name": "triggered_at_before",
            "schema": {
              "type": "string",
              "format": "datetime",
              "description": "Incidents with triggered_at before this date.",
              "example": "2019-08-30T14:15:22Z"
            }
          },
          {
            "in": "query",
            "name": "triggered_at_after",
            "schema": {
              "type": "string",
              "format": "datetime",
              "description": "Incidents with triggered_at after this date.",
              "example": "2019-08-22T14:15:22Z"
            }
          },
          {
            "name": "assignee_email",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Incidents assigned to this email.",
              "example": "eric@gitguardian.com"
            }
          },
          {
            "name": "assignee_id",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Incidents assigned to this user id.",
              "example": 4932
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "enum": [
                    "IGNORED",
                    "TRIGGERED",
                    "ASSIGNED",
                    "RESOLVED"
                  ],
                  "type": "string"
                }
              ],
              "description": "Incidents with the following status."
            }
          },
          {
            "name": "severity",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "enum": [
                    "critical",
                    "high",
                    "medium",
                    "low",
                    "info",
                    "unknown"
                  ],
                  "type": "string"
                }
              ],
              "description": "Filter incidents by severity."
            }
          },
          {
            "name": "validity",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "enum": [
                    "valid",
                    "invalid",
                    "failed_to_check",
                    "no_checker",
                    "unknown"
                  ],
                  "type": "string"
                }
              ],
              "description": "Secrets with the following validity."
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Incidents with one of the following tags. Use `NONE` if you want to filter incidents with no tags.",
              "example": "FROM_HISTORICAL_SCAN,SENSITIVE_FILE",
              "allOf": [
                {
                  "enum": [
                    "DEFAULT_BRANCH",
                    "FROM_HISTORICAL_SCAN",
                    "CHECK_RUN_SKIP_FALSE_POSITIVE",
                    "CHECK_RUN_SKIP_LOW_RISK",
                    "CHECK_RUN_SKIP_TEST_CRED",
                    "PUBLIC",
                    "PUBLICLY_EXPOSED",
                    "PUBLICLY_LEAKED",
                    "REGRESSION",
                    "SENSITIVE_FILE",
                    "TEST_FILE",
                    "FALSE_POSITIVE",
                    "VAULTED",
                    "NONE"
                  ]
                }
              ]
            }
          },
          {
            "name": "exclude_tags",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Exclude incidents with any of the following tags (comma-separated). Use `NONE` to exclude incidents with no tags.",
              "example": "TEST_FILE,FALSE_POSITIVE",
              "allOf": [
                {
                  "enum": [
                    "DEFAULT_BRANCH",
                    "FROM_HISTORICAL_SCAN",
                    "CHECK_RUN_SKIP_FALSE_POSITIVE",
                    "CHECK_RUN_SKIP_LOW_RISK",
                    "CHECK_RUN_SKIP_TEST_CRED",
                    "PUBLIC",
                    "PUBLICLY_EXPOSED",
                    "PUBLICLY_LEAKED",
                    "REGRESSION",
                    "SENSITIVE_FILE",
                    "TEST_FILE",
                    "FALSE_POSITIVE",
                    "VAULTED",
                    "NONE"
                  ]
                }
              ]
            }
          },
          {
            "name": "custom_tags",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Incidents with one of the following custom tag ids.\nTo retrieve incidents containing several custom tags at once, this query parameter should be used several times to intersect the results.\n",
              "example": "d45a123f-b15d-4fea-abf6-ff2a8479de5b,55b349d7-8c3a-40c9-957c-e58f5c3a7391"
            }
          },
          {
            "name": "custom_tag_key",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Incidents with the given custom tag key."
            }
          },
          {
            "name": "custom_tag_value",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Incidents with the given custom tag value."
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Sort the results by their field value. The default sort is ASC, DESC if the\nfield is preceded by a '-'.\n",
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "-date",
                "resolved_at",
                "-resolved_at",
                "ignored_at",
                "-ignored_at",
                "risk_score",
                "-risk_score"
              ]
            }
          },
          {
            "name": "detector_group_name",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Incidents belonging to the specified detector group.",
              "example": "slackbot_token"
            }
          },
          {
            "name": "ignorer_id",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Incidents ignored by this user id.",
              "example": 4932
            }
          },
          {
            "name": "ignorer_api_token_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Incidents ignored by this API token id.",
              "example": "fdf075f9-1662-4cf1-9171-af50568158a8"
            }
          },
          {
            "name": "resolver_id",
            "in": "query",
            "schema": {
              "type": "integer",
              "description": "Incidents resolved by this user id.",
              "example": 4932
            }
          },
          {
            "name": "resolver_api_token_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Incidents resolved by this API token id.",
              "example": "fdf075f9-1662-4cf1-9171-af50568158a8"
            }
          },
          {
            "name": "feedback",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "Incidents with or without feedback."
            }
          },
          {
            "name": "only_on_provider_archived_sources",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "When true, only return secret incidents where every detection is on a\nsource archived on the provider (same meaning as\n`provider_metadata.archived` on the Sources API). Source types that do\nnot support an archived flag are never considered archived.\n"
            }
          },
          {
            "name": "risk_score_min",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "Incidents with risk score greater than value.",
              "example": 80
            }
          },
          {
            "name": "risk_score_max",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 100,
              "description": "Incidents with risk score lesser than value.",
              "example": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret Incident List",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string",
                  "description": "Links toward the previous and next pages if they exist",
                  "example": "<http://api.gitguardian.com/v1/incidents/secrets?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/incidents/secrets?cursor=cD0xNTA%3D>; rel=\"prev\""
                }
              },
              "X-Per-Page": {
                "schema": {
                  "type": "integer",
                  "description": "The number of items per page.",
                  "default": 20,
                  "minimum": 1,
                  "maximum": 100
                }
              },
              "X-Next-Page": {
                "deprecated": true,
                "schema": {
                  "type": "integer",
                  "description": "The index of the next page.",
                  "minimum": 1
                }
              },
              "X-Page": {
                "deprecated": true,
                "schema": {
                  "description": "The index of the current page.",
                  "minimum": 1
                }
              },
              "X-Prev-Page": {
                "deprecated": true,
                "schema": {
                  "type": "integer",
                  "description": "The index of the previous page.",
                  "minimum": 1
                }
              },
              "X-Total": {
                "deprecated": true,
                "schema": {
                  "type": "integer",
                  "description": "The total number of items.",
                  "minimum": 1
                }
              },
              "X-Total-Pages": {
                "deprecated": true,
                "schema": {
                  "type": "integer",
                  "description": "The total number of pages.",
                  "minimum": 1
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "readOnly": true,
                            "example": 3759
                          },
                          "date": {
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true,
                            "title": "Last trigger date",
                            "example": "2019-08-22T14:15:22Z"
                          },
                          "detector": {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "readOnly": true,
                                    "example": "slack_bot_token"
                                  },
                                  "display_name": {
                                    "type": "string",
                                    "readOnly": true,
                                    "example": "Slack Bot Token"
                                  },
                                  "nature": {
                                    "type": "string",
                                    "readOnly": true,
                                    "example": "specific"
                                  },
                                  "family": {
                                    "type": "string",
                                    "readOnly": true,
                                    "example": "token"
                                  },
                                  "category": {
                                    "type": "string",
                                    "readOnly": true,
                                    "example": "messaging_system"
                                  },
                                  "detector_group_name": {
                                    "type": "string",
                                    "readOnly": true,
                                    "example": "slackbot_token"
                                  },
                                  "detector_group_display_name": {
                                    "type": "string",
                                    "readOnly": true,
                                    "example": "Slack Bot Token"
                                  }
                                },
                                "required": [
                                  "name",
                                  "display_name",
                                  "nature"
                                ]
                              }
                            ],
                            "readOnly": true
                          },
                          "secret_id": {
                            "type": "integer",
                            "readOnly": true,
                            "title": "Secret ID",
                            "example": 1
                          },
                          "secret_hash": {
                            "type": "string",
                            "readOnly": true,
                            "title": "Unique hash",
                            "example": "Ri9FjVgdOlPnBmujoxP4XPJcbe82BhJXB/SAngijw/juCISuOMgPzYhV28m6OG24"
                          },
                          "hmsl_hash": {
                            "type": "string",
                            "readOnly": true,
                            "title": "Unique HasMySecretLeaked hash",
                            "example": "05975add34ddc9a38a0fb57c7d3e676ffed57080516fc16bf8d8f14308fedb86"
                          },
                          "gitguardian_url": {
                            "type": "string",
                            "readOnly": true,
                            "title": "URL on the dashboard",
                            "example": "https://dashboard.gitguardian.com/workspace/1/incidents/3899"
                          },
                          "regression": {
                            "type": "boolean",
                            "readOnly": true,
                            "example": false
                          },
                          "status": {
                            "allOf": [
                              {
                                "enum": [
                                  "IGNORED",
                                  "TRIGGERED",
                                  "ASSIGNED",
                                  "RESOLVED"
                                ],
                                "type": "string"
                              }
                            ],
                            "readOnly": true
                          },
                          "assignee_id": {
                            "type": "integer",
                            "nullable": true,
                            "readOnly": true,
                            "example": 309
                          },
                          "assignee_email": {
                            "type": "string",
                            "nullable": true,
                            "readOnly": true,
                            "example": "eric@gitguardian.com"
                          },
                          "occurrences_count": {
                            "type": "integer",
                            "readOnly": true,
                            "example": 4
                          },
                          "secret_presence": {
                            "allOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "files_requiring_code_fix": {
                                    "type": "integer",
                                    "readOnly": true,
                                    "example": 1
                                  },
                                  "files_pending_merge": {
                                    "type": "integer",
                                    "readOnly": true,
                                    "example": 1
                                  },
                                  "files_fixed": {
                                    "type": "integer",
                                    "readOnly": true,
                                    "example": 1
                                  },
                                  "outside_vcs": {
                                    "type": "integer",
                                    "readOnly": true,
                                    "example": 1
                                  },
                                  "removed_outside_vcs": {
                                    "type": "integer",
                                    "readOnly": true,
                                    "example": 0
                                  },
                                  "in_vcs": {
                                    "type": "integer",
                                    "readOnly": true,
                                    "example": 3
                                  },
                                  "removed_in_vcs": {
                                    "type": "integer",
                                    "readOnly": true,
                                    "example": 0
                                  }
                                }
                              }
                            ],
                            "readOnly": true
                          },
                          "ignore_reason": {
                            "type": "string",
                            "allOf": [
                              {
                                "enum": [
                                  "test_credential",
                                  "false_positive",
                                  "low_risk",
                                  "invalid"
                                ],
                                "type": "string"
                              }
                            ],
                            "nullable": true,
                            "readOnly": true,
                            "example": "test_credential"
                          },
                          "triggered_at": {
                            "type": "string",
                            "format": "date-time",
                            "readOnly": true,
                            "example": "2019-05-12T09:37:49Z"
                          },
                          "ignored_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "readOnly": true,
                            "example": "2019-08-24T14:15:22Z"
                          },
                          "ignorer_id": {
                            "type": "integer",
                            "nullable": true,
                            "readOnly": true,
                            "example": 309
                          },
                          "ignorer_api_token_id": {
                            "type": "string",
                            "format": "uuid",
                            "nullable": true,
                            "readOnly": true,
                            "example": "fdf075f9-1662-4cf1-9171-af50568158a8"
                          },
                          "resolver_id": {
                            "type": "integer",
                            "nullable": true,
                            "readOnly": true,
                            "example": 395
                          },
                          "resolver_api_token_id": {
                            "type": "string",
                            "format": "uuid",
                            "nullable": true,
                            "readOnly": true,
                            "example": "fdf075f9-1662-4cf1-9171-af50568158a8"
                          },
                          "secret_revoked": {
                            "type": "boolean",
                            "readOnly": true,
                            "example": false
                          },
                          "severity": {
                            "type": "string",
                            "allOf": [
                              {
                                "enum": [
                                  "critical",
                                  "high",
                                  "medium",
                                  "low",
                                  "info",
                                  "unknown"
                                ],
                                "type": "string"
                              }
                            ],
                            "example": "high"
                          },
                          "validity": {
                            "type": "string",
                            "allOf": [
                              {
                                "enum": [
                                  "valid",
                                  "invalid",
                                  "failed_to_check",
                                  "no_checker",
                                  "unknown"
                                ],
                                "type": "string"
                              }
                            ],
                            "readOnly": true,
                            "example": "valid"
                          },
                          "resolved_at": {
                            "type": "string",
                            "format": "date-time",
                            "nullable": true,
                            "readOnly": true,
                            "example": null
                          },
                          "share_url": {
                            "type": "string",
                            "nullable": true,
                            "readOnly": true,
                            "example": "https://dashboard.gitguardian.com/share/incidents/11111111-1111-1111-1111-111111111111"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "enum": [
                                "DEFAULT_BRANCH",
                                "FROM_HISTORICAL_SCAN",
                                "CHECK_RUN_SKIP_FALSE_POSITIVE",
                                "CHECK_RUN_SKIP_LOW_RISK",
                                "CHECK_RUN_SKIP_TEST_CRED",
                                "IGNORED_IN_CHECK_RUN",
                                "PUBLIC",
                                "PUBLICLY_EXPOSED",
                                "PUBLICLY_LEAKED",
                                "REGRESSION",
                                "SENSITIVE_FILE",
                                "TEST_FILE",
                                "FALSE_POSITIVE",
                                "VAULTED",
                                "REVOCABLE_BY_GG"
                              ],
                              "type": "string"
                            },
                            "readOnly": true,
                            "example": [
                              "FROM_HISTORICAL_SCAN",
                              "SENSITIVE_FILE"
                            ]
                          },
                          "custom_tags": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid",
                                  "readOnly": true,
                                  "example": "d45a123f-b15d-4fea-abf6-ff2a8479de5b"
                                },
                                "key": {
                                  "type": "string",
                                  "example": "env"
                                },
                                "value": {
                                  "type": "string",
                                  "nullable": true,
                                  "example": "prod"
                                }
                              }
                            }
                          },
                          "feedback_list": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "title": "Feedback",
                              "properties": {
                                "created_at": {
                                  "type": "string",
                                  "format": "date-time",
                                  "readOnly": true,
[...]
